<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ja" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ja" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ja" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ja" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="ja" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	
	<title>大石蔵人之助 - クラウド導入支援サービス</title>
	
	<meta name="description" content="大石蔵人之助は中小・中堅企業の経営者を対象に、クラウドの導入計画を企画・立案するコンサルティングサービスです。">
	<meta name="author" content="Serverworks Co.,Ltd.">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	
	<link rel="stylesheet" href="css/style.css?v=1">

	<script src="js/libs/jquery-1.5.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/libs/modernizr-1.6.min.js"></script>
	<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
	<script src="js/libs/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div id="header-container">
		<header class="wrapper">
			<h1 id="title">大石蔵人之助</h1>
			<p>クラウド導入支援サービス</p>
			<!--
			<nav>
				<ul>
					<li><a href="#">Some</a></li>
					<li><a href="#">navigation</a></li>
					<li><a href="#">links</a></li>
				</ul>
			</nav>
			-->
		</header>
	</div>
	<div id="main">
		<div id="eyecatch" class="wrapper">
			<h2>「おのおの方、クラウドという名の討入でござる」</h2>
				<p>大石蔵人之助は中小・中堅企業の経営者を対象に、クラウドの<br>導入計画を企画・立案するコンサルティングサービスです。</p>
				<a style="width: 17em; line-height: 1; float:right;" href="https://spreadsheets1.google.com/viewform?formkey=dEJXQjNRREZYeGczOHVlV1daMFEwY3c6MQ?iframe=true&width=650&height=400" class="multi-line-button green" rel="prettyPhoto[iframes]">
      				<span class="title">お問い合わせ</span>
      				<span class="subtitle">または 03-5579-8029 まで</span>
    			</a>
    		<a href="http://aws.amazon.com/jp/solutions/solution-providers/serverworks/" target="_blank" id="ribbon">
				<img src="img/amaoznSolutionProvider.png" alt="Amazon web services Solution Provider">
			</a>
			<a href="#campaignText" id="campaign" rel="prettyPhoto">
				<img src="img/campaign.png" alt="AWS東京リージョンオープン記念 クラウド導入キャンペーン！">
			</a>
			<div id="campaignText" class="hide">
				<p><strong>「Amazon 東京データセンター開設記念特別価格」</strong>として<strong>「吟味」「討入」</strong>を併せて通常価格80万円のところ、<strong>先着10社</strong>まで<strong>特別価格の20万円</strong>で提供します。（作業時間300分、20サーバーまで）</p>
			</div>
		</div>
		</div>
	<div id="sub">
		<div id="description" class="wrapper">
			<div id="col1" class="col">
			<h3>吟味：経営者ヒアリング</h3>
				<p>当社代表者が、経営としての方向性、クラウド化の意向について直接ヒアリングを行います。<br>様々なクラウド導入実績を持つ当社代表が経営の視点からクラウド導入について提言します。</p>
			</div>
			<div id="col2" class="col">
			<h3>討入：現状調査</h3>
				<p>顧客企業のシステムについてヒアリングを行い、クラウド化の適不適を調査します。<br>最終的な成果物として、クラウド導入計画書を納品します。標準的な納期はご契約から2週間です。</p>
			</div>
			<div id="col3" class="col">
			<h3>導入事例</h3>
				<p>株式会社 電通</p>
				<a href="#caseText" rel="prettyPhoto">
					<img src="img/jirei.jpg" alt="導入事例 - 株式会社電通" class="picshadow">
				</a>
				<div id="caseText" class="hide" style="min-height:300px;">
					<h4>エンデマ：<a href="http://endema.jp" target="_blank">http://endema.jp</a></h4>
					<p>会員の皆様がお気に入りのコンテンツを選び、フォトブックやポスター、卓上カレンダーなどのさまざまなアイテムを作成できるサービスです。<br>
					大石蔵人之助による「吟味」「討入」により最適なクラウドサービスへの移行計画がまとまり、某ホスティングサービスからAmazon Web Services上でのサービス提供をスムーズに実現しました。</p>
					<img src="img/jirei.jpg" alt="導入事例 - 株式会社電通" class="picshadow" style="display:block;margin:auto;">
				</div>
			</div>
		</div>
	</div>
	</div>
	<div id="footer-container">
		<footer class="wrapper">
			<div id="links">
				<a href="http://blog.serverworks.co.jp/ceo/" target="_blank">
					<img src="img/btn_ceoblog.gif" alt="Serverworks 社長ブログ" class="picshadow">
				</a>
			</div>
			<!--twitter script-->
			
<div id="twitter_div">
<h4><a href="http://www.twitter.com/cloudnosuke" target="_blank"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-c.png" alt="cloudnosukeをフォローしましょう"></a>  Twitter</h4>
<ul id="twitter_update_list"></ul>
</div>
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/cloudnosuke.json?callback=twitterCallback2&amp;count=3"></script>

			<!--twitter script end-->
			<div class="copyright clearfix">
  				運営 <a href="http://www.serverworks.co.jp/">株式会社サーバーワークス</a> Copyright &copy; 2011 Serverworks Co.,Ltd. All rights reserved.
			</div>
		</footer>
	</div>

	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto();
		});
	</script>
	
<script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-1745123-11']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>

</body>
</html>